[defaults]
remote_user = ec2-user
inventory = ./inventory
collections_path = ./collections:/usr/share/ansible_collections
ask_pass = false
host_key_checking = false
private_key_file = ./praveen-aws.pem

[privilege_escalation]
become = true
become_ask_pass = false
become_method = sudo
become_user = root
